{% extends 'base.html.twig' %}

{% block title %}Liste des Artistes{% endblock %}

{% block body %}
<h1 class="pt-3 text-center">Liste des artistes</h1>
<hr>

<div class="row pt-2">
{% for leArtiste in lesArtistes %}
    {% set nbAlbums = leArtiste.albums|length %}

    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
        <div class="row card m-1">
            <h3 class="card-header"> <a href="{{path('ficheArtiste',{'id': leArtiste.id})}} ">{{leArtiste.nom}}</a></h3>
            <div class="card-body">
                <h5 class="card-title"> 
                    <a href="" class="badge badge-success">{{nbAlbums}}{% if nbAlbums > 1 %} Albums {% else %} Album {% endif %}</a>
                </h5>
            </div>
            <img class="avatar mx-auto d-block" style="height: auto; width: 200px; display: bloc;" src="{{leArtiste.image}}" alt="">
            <div class="card-body">
                <p class="card-text">{{leArtiste.description|slice(0,200)|raw}} ...</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"> {% if leArtiste.type == 0 %} Artiste solo {% else %} Groupe{% endif %} </li>
                <li class="list-group-item"> <a target="_blank" href="{{leArtiste.site}}">Site web</a> </li>
                <li class="list-group-item">
                
                nationalite :  
                
                {% if leArtiste.nationalite %}
                    {{leArtiste.nationalite.libelle}}

                {% else %}
                 <p>il n'y a pas de nationalite</p>
                {% endif %}
                
                 </li>
            </ul>
        </div>
    </div>

{% endfor %}
    <div class="navigation mx-auto pt-4">
        {{ knp_pagination_render(lesArtistes) }}
    </div>
</div>

{% endblock %}
