{% extends 'base.html.twig' %}

{% block title %}Liste des Albums{% endblock %}

{% block body %}
<h1 clas="pt-2 text-center">Liste des albums</h1>
<hr>

<div class="row pt-2">
{% for leAlbum in lesAlbums %}

    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
        <div class="row card m-1">
            <h3 class="card-header"> <a href="{{path('ficheAlbum',{'id': leAlbum.id})}} ">{{leAlbum.nom}}</a></h3>
            <div class="card-body">
                <h5 class="card-title"> 
                    <a href=" {{path('ficheArtiste', {'id': leAlbum.artiste.id})}} " class="badge badge-success"> {{leAlbum.artiste.nom}} </a>
                </h5>
                <h5 class="card-title"> 
                    <a href="{{path('ficheLabel', {'id': leAlbum.label.id})}}" class="badge badge-success"> {{leAlbum.label.nom}} </a>
                </h5>
            </div>
            <img class="avatar mx-auto d-block" style="height: auto; width: 200px; display: bloc;" src="{{leAlbum.image}}" alt="">
            <div class="card-body">
                <p class="card-text">{{leAlbum.date}}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    {% for leStyle in leAlbum.styles %}
                        <span class="badge" style="background-color:{{leStyle.couleur}};"> {{leStyle.nom}} </span>
                    {% endfor %}
                </li>
                {% set nb = leAlbum.morceaux|length %}

                <li class="list-group-item">
                    {{nb}} {% if nb>1 %} morceaux {% else %} morceau {% endif %}
                </li>
            </ul>
        </div>
    </div>

{% endfor %}
    <div class="navigation mx-auto pt-4">
        {{ knp_pagination_render(lesAlbums) }}
    </div>
</div>

{% endblock %}
