{% extends 'base.html.twig' %}

{% block title %}Fiche du label{% endblock %}

{% block body %}
<h1 clas="pt-2 text-center">Fiche du label</h1>
<hr>

<a href="{{path('labels')}}" class="btn btn-info">Revenir à la liste des labels</a>

<div class="row pt-2">
    {% set nbAlbums = leLabel.albums|length %}
    {% if leLabel.type == "Majeur" %}
        {% set colorLab = "success" %}
    {% else %}
        {% set colorLab = "danger" %}
    {% endif %} 
 

        <div class="row card m-1">
            <h3 class="card-header"> {{leLabel.nom}}</h3>
            <div class="row">
                <div class="col-3 d-flex align-items-center mx-auto">
                    <img class="mx-auto d-block" style="height: auto; width: 200px; display: bloc;" src="{{leLabel.logo}}" alt="">
                </div>

                <div class="col">
                    <div class="card-body">
                        <h5 class="card-title"> 
                            <p class="p-2">{{leLabel.annee}}</p>
                            <a href="" class="badge badge-success"></a>
                        </h5>
                    </div>
            
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><div class="badge badge-{{colorLab}}"> {{leLabel.type}} </div></li>
                            <li class="list-group-item">{{nbAlbums}}{% if nbAlbums > 1 %} Albums {% else %} Album {% endif %}</li>
                            <li class="list-group-item">  <p class="card-text">{{leLabel.description|raw}} </p> </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    <table class="table table-hover mx-auto">
  <thead>
    <tr>
      <!--<th scope="col-3">Photo</th>-->
      <th scope="col-4">Nom</th>
      <th scope="col-1">Artiste</th>
      <th scope="col-3">Année</th>
      <th scope="col-1">Styles</th>
    </tr>
  </thead>
  <tbody>
  {% for leAlbum in leLabel.albums %}
    <tr class="table-light">
        <!--<td><img class="miniature" src="{{leAlbum.image}}" alt=""></th>-->
        <td scop="row"> <a href=" {{path('ficheAlbum', {'id': leAlbum.id})}} "> {{leAlbum.nom}} </a></td>
        <td><a href=" {{path('ficheArtiste', {'id': leAlbum.artiste.id} )}} ">{{leAlbum.artiste.nom}}</a></td>
        <td>{{leAlbum.date}}</td>

        <td>
            {% for leStyle in leAlbum.styles %}
                <span class="badge" style="background-color:{{leStyle.couleur}};"> {{leStyle.nom}} </span>
            {% endfor %}
        </td> 


    </tr>
  {% endfor %}

  </tbody>
</table>


{% endblock %}
